<div class="grid mt-8">
    <div class="grid__box grid__box--size-min">
        <a class="link" routerLink="{{'/' + productsPath.PRODUCT_CHARACTERISTIC_CREATE}}">
            Создание группы характеристик</a>
    </div>
    <div class="grid__box grid__box--size-min">
        <a class="link" routerLink="{{'/' + productsPath.PRODUCT_CHARACTERISTIC_MANAGE}}">
            Привязка групп характеристик к категориям</a>
    </div>
    <div class="grid__box grid__box--size-min"></div>
</div>
<form [formGroup]="productCreateEditForm">
    <div class="grid grid--gap-32 mt-32">
        <div class="grid__box grid__box--size-4">
            <div>
                <span class="sub-title">Расположение продукта</span>
            </div>
            <div class="grid grid--gap-8 grid--va-bottom mt-8">
                <div class="grid__box grid__box--size-10">
                    <ui-field>
                        <label for="comboboxGroupCategoriesName"><span
                            class="field__label--required">Группа категории</span></label>
                        <ui-combobox
                            [items]="groupsCategoriesProducts"
                            (callback)="onChangeGroupsCategoriesProductsItem($event)"
                            [textKey]="'name'"
                            [initBy]="groupCategoryProduct"
                            [name]="'groupCategoryProduct'"
                            [defaultText]="''"
                            [isDisabled]="false"
                        ></ui-combobox>
                    </ui-field>
                </div>
                <div class="grid__box grid__box--size-2">
                    <button class="button" type="button" (click)="onOpenGroupsCategoriesDialog()">
                        <i class="os-cog-alt"></i>
                    </button>
                </div>
            </div>
            <div class="grid grid--gap-8 grid--va-bottom mt-8">
                <div class="grid__box grid__box--size-10">
                    <ui-field>
                        <label for="comboboxGroupSubCategoriesName"><span
                            class="field__label--required">Группа подкатегории</span></label>
                        <ui-combobox
                            [items]="groupsSubCategoriesProducts"
                            (callback)="onChangeGroupsSubCategoriesProductsItem($event)"
                            [textKey]="'name'"
                            [initBy]="groupSubCategoryProduct"
                            [name]="'comboboxGroupSubCategoriesName'"
                            [defaultText]="''"
                            [isDisabled]="!groupCategoryProduct"
                        ></ui-combobox>
                    </ui-field>
                </div>
                <div class="grid__box grid__box--size-2">
                    <button class="button" type="button" [disabled]="!groupCategoryProduct"
                            (click)="onOpenGroupsSubCategoriesDialog()">
                        <i class="os-cog-alt"></i>
                    </button>
                </div>
            </div>
            <div class="grid grid--gap-8 grid--va-bottom mt-8">
                <div class="grid__box grid__box--size-10">
                    <ui-field>
                        <label for="comboboxCategoriesName"><span
                            class="field__label--required">Категория</span></label>
                        <ui-combobox
                            [items]="categoriesProducts"
                            (callback)="onChangeCategoriesProductsItem($event)"
                            [textKey]="'name'"
                            [initBy]="categoryProduct"
                            [name]="'comboboxCategoriesName'"
                            [defaultText]="''"
                            [isDisabled]="!groupSubCategoryProduct"
                        ></ui-combobox>
                    </ui-field>
                </div>
                <div class="grid__box grid__box--size-2">
                    <button class="button" type="button" [disabled]="!groupSubCategoryProduct"
                            (click)="onOpenCategoriesProductsDialog()">
                        <i class="os-cog-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="grid__box grid__box--size-8">
            <div>
                <span class="sub-title">Основные данные продукта</span>
            </div>
            <div class="grid grid--gap-8 mt-8">
                <div class="grid__box grid__box--size-7">
                    <ui-field>
                        <label for="productName"><span
                            class="field__label--required">Найменование</span></label>
                        <input type="text" id="productName" formControlName="name" maxlength="50">
                    </ui-field>
                </div>
                <div class="grid__box grid__box--size-3">
                    <ui-field>
                        <label for="productCode"><span
                            class="field__label--required">Код</span></label>
                        <input type="text" id="productCode" formControlName="vendor_code" maxlength="100">
                    </ui-field>
                </div>
                <div class="grid__box grid__box--size-1">
                    <ui-field>
                        <label for="productPrice"><span
                            class="field__label--required">Цена</span></label>
                        <input type="text" id="productPrice" formControlName="price">
                    </ui-field>
                </div>
                <div class="grid__box grid__box--size-1">
                    <ui-field>
                        <label for="productCount"><span
                            class="field__label--required">Кол.</span></label>
                        <input type="text" id="productCount" formControlName="count">
                    </ui-field>
                </div>
            </div>
            <div class="grid mt-8">
                <div class="grid__box grid__box--size-12">
                    <ui-field>
                        <label for="productDescription"><span
                            class="field__label--required">Описание</span></label>
                        <textarea name="productDescription" id="productDescription" rows="6" maxlength="600"
                                  formControlName="description"></textarea>
                    </ui-field>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-32" *ngIf="!groupsCharacteristics">
    <span
        class="text-placeholder">Для отображения блока характеристик, заполните поля блока "Расположение продукта"</span>
    </div>
    <div class="mt-32" *ngIf="groupsCharacteristics">
        <div>
            <span class="sub-title">Описание продукта</span>
        </div>
        <div class="mt-16">
            <app-group-characteristic-popover
                [groups]="groupsCharacteristics"
                (onClose)="onCloseGroupsCharacteristicPopover()"
            ></app-group-characteristic-popover>
        </div>
        <div class="mt-8">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" formArrayName="products_groups_description_options">
                <ngb-panel *ngFor="let group of productCreateEditForm.get('products_groups_description_options').controls;let i = index" id="{{group.value.id}}" [formGroupName]="i">
                    <ng-template ngbPanelHeader let-opened="opened">
                        <div class="grid">
                            <div class="grid__box grid__box--size-min">
                                <div class="grid grid--gap-4">
                                    <div class="grid__box grid__box--size-min">
                                    <span class="badge__wrapper">
                                        <span class="badge"
                                              [ngClass]="{
                                                'bg-color-green': !group.value.is_main || group.value.is_main && group.value.characteristics.length,
                                                'bg-color-red': group.value.is_main && !group.value.characteristics.length
                                              }">{{group.value.characteristics.length}}</span>
                                    </span>
                                    </div>
                                    <div class="grid__box grid__box--size-min pt-2">
                                        {{group.value.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="grid__box grid__box--size-min grid__box--pull-right">
                                <div class="grid grid--gap-4">
                                    <div class="grid__box grid__box--size-min" *ngIf="!group.value.is_main">
                                        <button type="button" class="button button--ctrl os-up-big font-size-20"
                                                (click)="sortOrderGroupsCharacteristics(group, 'up', i)"></button>
                                    </div>
                                    <div class="grid__box grid__box--size-min" *ngIf="!group.value.is_main">
                                        <button type="button" class="button button--ctrl os-down-big font-size-20 pt-2"
                                                (click)="sortOrderGroupsCharacteristics(group, 'down', i)"></button>
                                    </div>
                                    <div class="grid__box grid__box--size-min">
                                        <button type="button" class="button button--ctrl os-plus color-green-primary
                                        font-size-20 color-green pt-2" (click)="onMakeCharacteristic(group)"></button>
                                    </div>
                                    <div class="grid__box grid__box--size-min">
                                        <button type="button" class="button button--ctrl font-size-20 color-blue"
                                                ngbPanelToggle
                                                [ngClass]="{'os-angle-circled-up': opened, 'os-angle-circled-down': !opened}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="products__groups">
                            <div class="text-placeholder" *ngIf="!group.value.characteristics.length">Нет характеристик для
                                отображения
                            </div>
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1" formArrayName="characteristics">
                                <ngb-panel *ngFor="let characteristic of group.get('characteristics').controls;let j = index;let first = first; let last = last"
                                           id="{{'characteristicBlock_' + (characteristic.value.id || characteristic.value.fakeId)}}" [formGroupName]="j">
                                    <ng-template ngbPanelHeader let-opened="opened">
                                        <div class="grid">
                                            <div class="grid__box grid__box--size-min">
                                                {{characteristic.value.name}}
                                            </div>
                                            <div class="grid__box grid__box--size-min grid__box--pull-right">
                                                <div class="grid grid--gap-4">
                                                    <div class="grid__box grid__box--size-min">
                                                        <button type="button" class="button button--ctrl os-up-big font-size-20"
                                                                [disabled]="first"
                                                                (click)="sortOrderCharacteristics(group, characteristic, 'up', j)"></button>
                                                    </div>
                                                    <div class="grid__box grid__box--size-min">
                                                        <button type="button"
                                                                class="button button--ctrl os-down-big font-size-20 pt-2"
                                                                [disabled]="last"
                                                                (click)="sortOrderCharacteristics(group, characteristic, 'down', j)"></button>
                                                    </div>
                                                    <div class="grid__box grid__box--size-min">
                                                        <button type="button" class="button button--ctrl os-cancel-circled color-green-primary
                                                    font-size-18 color-red pt-2"
                                                                (click)="removeCharacteristic(group, j)"></button>
                                                    </div>
                                                    <div class="grid__box grid__box--size-min">
                                                        <button type="button"
                                                                class="button button--ctrl font-size-20 color-blue"
                                                                ngbPanelToggle
                                                                [ngClass]="{'os-angle-circled-up': opened, 'os-angle-circled-down': !opened}"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="grid">
                                            <div class="grid__box grid__box--size-4">
                                                <ui-field>
                                                    <label
                                                        for="{{'characteristicName' + characteristic.value.id || characteristic.value.fakeId}}"><span
                                                        class="field__label--required">Найменование</span></label>
                                                    <input type="text"
                                                           id="{{'characteristicName' + characteristic.value.id || characteristic.value.fakeId}}"
                                                           formControlName="name">
                                                </ui-field>
                                            </div>
                                            <div class="grid__box grid__box--size-8">
                                                <ui-field>
                                                    <label
                                                        for="{{'characteristicValue' + characteristic.value.id || characteristic.value.fakeId}}"><span
                                                        class="field__label--required">Значение</span></label>
                                                    <input type="text"
                                                           id="{{'characteristicValue' + characteristic.value.id || characteristic.value.fakeId}}"
                                                           formControlName="value">
                                                </ui-field>
                                            </div>
                                        </div>
                                        <div class="grid mt-8 mb-8">
                                            <div class="grid__box grid__box--size-12">
                                                <ui-field>
                                                    <label
                                                        for="{{'characteristicDescription' + characteristic.value.id || characteristic.value.fakeId}}">Доп.
                                                        описание</label>
                                                    <textarea name="productDescription"
                                                              id="{{'characteristicDescription' + characteristic.value.id || characteristic.value.fakeId}}"
                                                              cols="30" rows="7"
                                                              formControlName="description"></textarea>
                                                </ui-field>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>

    <div class="mt-32">
        <button type="button" class="button button--orange" [disabled]="productCreateEditForm.invalid" (click)="onSaveOrEditProduct()">
            <span *ngIf="!productId">Создать продукт</span>
            <span *ngIf="productId">Редактировать продукт</span>
        </button>
    </div>
</form>
