<div class="grid grid--gap-32">
    <div class="grid__box grid__box--size-4">
        <div>
            <span class="sub-title">Расположение продукта</span>
        </div>
        <div class="grid grid--gap-8 grid--va-bottom mt-8">
            <div class="grid__box grid__box--size-10">
                <ui-field>
                    <label for="comboboxGroupCategoriesName"><span
                        class="field__label--required">Группа категории</span></label>
                    <ui-combobox
                        [items]="groupsCategoriesProducts"
                        (callback)="onChangeGroupsCategoriesProductsItem($event)"
                        [textKey]="'name'"
                        [initBy]="groupCategoryProduct"
                        [name]="'groupCategoryProduct'"
                        [defaultText]="''"
                        [isDisabled]="false"
                    ></ui-combobox>
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-2">
                <button class="button" type="button" (click)="onOpenGroupsCategoriesDialog()">
                    <i class="os-cog-alt"></i>
                </button>
            </div>
        </div>
        <div class="grid grid--gap-8 grid--va-bottom mt-8">
            <div class="grid__box grid__box--size-10">
                <ui-field>
                    <label for="comboboxGroupSubCategoriesName"><span
                        class="field__label--required">Группа подкатегории</span></label>
                    <ui-combobox
                        [items]="groupsSubCategoriesProducts"
                        (callback)="onChangeGroupsSubCategoriesProductsItem($event)"
                        [textKey]="'name'"
                        [initBy]="groupSubCategoryProduct"
                        [name]="'comboboxGroupSubCategoriesName'"
                        [defaultText]="''"
                        [isDisabled]="!groupCategoryProduct"
                    ></ui-combobox>
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-2">
                <button class="button" type="button" [disabled]="!groupCategoryProduct" (click)="onOpenGroupsSubCategoriesDialog()">
                    <i class="os-cog-alt"></i>
                </button>
            </div>
        </div>
        <div class="grid grid--gap-8 grid--va-bottom mt-8">
            <div class="grid__box grid__box--size-10">
                <ui-field>
                    <label for="comboboxCategoriesName"><span
                        class="field__label--required">Категория</span></label>
                    <ui-combobox
                        [items]="categoriesProducts"
                        (callback)="onChangeCategoriesProductsItem($event)"
                        [textKey]="'name'"
                        [initBy]="categoryProduct"
                        [name]="'comboboxCategoriesName'"
                        [defaultText]="''"
                        [isDisabled]="!groupSubCategoryProduct"
                    ></ui-combobox>
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-2">
                <button class="button" type="button" [disabled]="!groupSubCategoryProduct" (click)="onOpenCategoriesProductsDialog()">
                    <i class="os-cog-alt"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="grid__box grid__box--size-8">
        <div>
            <span class="sub-title">Основные данные продукта</span>
        </div>
        <div class="grid grid--gap-8 mt-8">
            <div class="grid__box grid__box--size-7">
                <ui-field>
                    <label for="productName"><span
                        class="field__label--required">Найменование</span></label>
                    <input type="text" id="productName">
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-3">
                <ui-field>
                    <label for="productCode"><span
                        class="field__label--required">Код</span></label>
                    <input type="text" id="productCode">
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-1">
                <ui-field>
                    <label for="productPrice"><span
                        class="field__label--required">Цена</span></label>
                    <input type="text" id="productPrice">
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-1">
                <ui-field>
                    <label for="productCount"><span
                        class="field__label--required">Кол.</span></label>
                    <input type="text" id="productCount">
                </ui-field>
            </div>
        </div>
        <div class="grid mt-8">
            <div class="grid__box grid__box--size-12">
                <ui-field>
                    <label for="productDescription"><span
                        class="field__label--required">Описание</span></label>
                    <textarea name="productDescription" id="productDescription" rows="6"></textarea>
                </ui-field>
            </div>
        </div>
    </div>
</div>

<div class="mt-32">

</div>

<div class="mt-32" *ngIf="groupsCharacteristics">
    <div>
        <span class="sub-title">Характеристики продукта</span>
    </div>
    <ngb-tabset>
        <ngb-tab *ngFor="let group of groupsCharacteristics" [title]="group.name" [id]="group.id">
            <ng-template ngbTabContent>
                <div class="grid grid--gap-32">
                    <div class="grid__box grid__box--size-12">
                        <div class="grid mt-8">
                            <div class="grid__box grid__box--size-4">
                                <ui-field>
                                    <label for="productСharacteristicName"><span
                                        class="field__label--required">Найменование</span></label>
                                    <input type="text" id="productСharacteristicName">
                                </ui-field>
                            </div>
                            <div class="grid__box grid__box--size-8">
                                <ui-field>
                                    <label for="productСharacteristicValue"><span
                                        class="field__label--required">Значение</span></label>
                                    <input type="text" id="productСharacteristicValue">
                                </ui-field>
                            </div>
                        </div>
                        <div class="grid mt-8">
                            <div class="grid__box grid__box--size-12">
                                <ui-field>
                                    <label for="productСharacteristicDescription"><span
                                        class="field__label--required">Доп. описание</span></label>
                                    <textarea name="productDescription" id="productСharacteristicDescription" cols="30"
                                              rows="7"></textarea>
                                </ui-field>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
