<h1 class="title">Работники</h1>

<div class="mt-8">
    <a class="link link--no-underline link--button" [routerLink]="['/' + USERS_PATHS.usersCreate]">
        <button type="button" class="button button--orange">Создать работника</button>
    </a>
</div>

<div class="container mt-32">
    <ngb-tabset (tabChange)="onChangeUserTypeTab($event)">
        <ngb-tab *ngFor="let tab of tabs" [title]="tab.title" [id]="tab.id">
            <ng-template ngbTabContent>
                <ng-container *ngIf="tab.users && tab.users.length">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ФИО</th>
                                <th>Возраст</th>
                                <th>Работает в компании</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of tab.users;">
                                <td>
                                    {{user.id}}
                                </td>
                                <td>
                                    <a class="link link--yellow link--no-underline"
                                       [routerLink]="['/', USERS_PATHS.usersList,'edit', user.id]">
                                        <i class="os-pencil"></i>
                                    </a>
                                    <a class="link" [routerLink]="['/', USERS_PATHS.usersList, user.id]">
                                        {{user.first_name}} {{user.last_name}} {{user.patronymic_name}}
                                    </a>
                                </td>
                                <td>
                                    {{user.birth_date | dateYearsFormat}}
                                </td>
                                <td>
                                    {{user.created_date | dateRangeFormat}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <div *ngIf="!tab.users">Нет данных для отображения.</div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>