@import "../../scss/core/variabless";
@import "../../scss/core/colors";
@import "../../scss/core/mixins";
@import "../field/field.component";

.uib-daypicker {
    outline: none;
}

.capitalize {
    &:first-letter {
        text-transform: uppercase;
    }
}

.datepicker__custom-title {
    text-transform: capitalize;
}

.datepicker__top-navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding-top: 4px;
    padding-bottom: 10px;
}

.top-navigation__item > button {
    border: none;
    background-color: transparent;
    outline: none;

    &:hover {
        cursor: pointer;
        opacity: .6;
    }
}

.template-navigation__button {
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: bold;
}

.days-row,
.month-row,
.year-row,
.datepicker__name-days {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 230px;
    margin: 4px auto;
}

.datepicker__name-days-parent {
    border-top: 1px solid $border-clr;
    border-bottom: 1px solid $border-clr;
}

.datepicker__month,
.datepicker__year {
    border-top: 1px solid $border-clr;
}

.day {
    flex: 1 1 38px;
    text-align: center;
}

.month {
    flex: 1 1 76px;
    text-align: left;
    padding-left: 6px;
}

.month {
    flex: 1 1 76px;
    text-align: left;

    button {
        text-transform: lowercase;
    }
}

.datepicker__button {
    outline: none;
    background: none;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 26.5px;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    border-radius: 4px;

    &:hover {
        background-color: $border-clr;
        font-weight: normal;
    }

    &--selected {
        background-color: $clr-yellow-primary;
        font-weight: normal;
        cursor: default;

        &:hover {
            background-color: $clr-yellow-primary;
        }
    }

    &--now {
        font-weight: bold;

        &:hover {
            font-weight: bold;
        }
    }

    &--past,
    &--future {
        display: none;
    }
}
