@import "../../scss/core/colors";
@import "../../scss/core/mixins";
@import "../../scss/core/variabless";

.ui-select {
  position: relative;
  width: 100%;
}

.ui-select__toggle-button {
  @include border-radius(4px);
  @include font(normal, 12px, 16px, $font-primary);

  width: 100%;
  height: 36px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 4px;
  background-color: $clr-white;
  box-shadow: 0 1px 0 0 $clr-white;
  outline: none;
  border: 1px solid $border-clr;
  text-align: left;
  padding: 0 30px 0 8px;

  &:active {
    outline: none;
  }

  &:before {
    content: '';
    @include box(6px);
    border-left: 2px solid rgba($clr-black, .54);
    border-bottom: 2px solid rgba($clr-black, .54);
    transform: rotate(-45deg);
    position: absolute;
    right: 14px;
    top: 14px;
  }
}

.ui-select__disabled-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, $clr-white 0%, $clr-gray-secondary 100%);
  opacity: .6;
  cursor: default;
  z-index: 2;
}

.ui-select__default-text,
.dropdown-menu .ui-select__reset-text > a {
  color: $clr-gray-secondary;
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
}

.ui-select__menu-item {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 6px 8px;
  font-size: 12px;
  background-color: transparent;
  text-align: left;

  &:focus,
  &:hover {
    background-color: $clr-gray-secondary;
    cursor: pointer;
  }
}
