<div class="ui-select" ngbDropdown>
    <div *ngIf="isDisabled" class="ui-select__disabled-wrapper"></div>
    <button class="ui-select__toggle-button"
            [name]="fieldName"
            ngbDropdownToggle
            type="button">
        <span class="ui-select__default-text" *ngIf="!initBy">{{defaultText}}</span>
        <span *ngIf="initBy">{{initBy[textKey]}}</span>
    </button>
    <ul ngbDropdownMenu>
        <li role="menuitem" *ngIf="nullChoice" class="ui-select__reset-text">
            <a href="javascript://" (click)="onReset()"><i>{{defaultText}}</i></a>
        </li>
        <li role="menuitem" *ngFor="let item of items">
            <a href="javascript://" (click)="onSelect(item)">{{item[textKey] || item}}</a>
        </li>
    </ul>
</div>