<div class="ui-select" ngbDropdown #myDrop="ngbDropdown">
    <button class="ui-select__toggle-button"
            [ngClass]="{'ui-select__toggle-button--highlight': myDrop.isOpen()}"
            ngbDropdownToggle
            [disabled]="isDisabled"
            name="{{name}}"
            id="{{name}}"
            type="button">
        <span class="ui-select__default-text" *ngIf="!initBy">{{defaultText}}</span>
        <span *ngIf="initBy">{{initBy[textKey]}}</span>
    </button>
    <div ngbDropdownMenu>
        <button ngbDropdownItem
                type="button"
                *ngIf="nullChoice"
                class="ui-select__menu-item ui-select__reset-text"
                (click)="onReset();$event.stopPropagation();myDrop.close();"
        >
            <i>{{defaultText}}</i>
        </button>
        <button ngbDropdownItem
                type="button"
                *ngFor="let item of items"
                class="ui-select__menu-item"
                (click)="onSelect(item);$event.stopPropagation();myDrop.close();"
        >
            {{item[textKey] || item}}
        </button>
    </div>
</div>