@import "../../../scss/core/colors";

.link--home {
    width: 145px;
    height: 145px;
    border: 1px solid $clr-yellow-primary;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
