@import "../../../scss/core/colors";

.link--home {
    width: 145px;
    height: 145px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
