<div class="mt-32">
    <div class="grid grid--va-middle">
        <div class="grid__box grid__box--size-min">
            <a routerLink="/users" class="link link--home">Работники</a>
        </div>
        <div class="grid__box grid__box--size-min">
            <a routerLink="/providers" class="link link--home">Поставщики</a>
        </div>
        <div class="grid__box grid__box--size-min">
            <a routerLink="/products" class="link link--home">Продукты</a>
        </div>
    </div>
</div>
