<div class="grid grid--va-middle mt-4">
    <div class="grid__box grid__box--size-min">
        <a routerLink="/" class="link link--no-underline link--logotype">
            <img src="assets/images/logotype.png" alt="onlinestore">
        </a>
    </div>
    <div class="grid__box grid__box--size-min">
        <app-breadcrumbs></app-breadcrumbs>
    </div>
    <div class="grid__box grid__box--size-min grid__box--pull-right" *ngIf="userData">
        <div class="grid grid--gap-32">
            <div class="grid__box grid__box--size-min">
                {{userData.user_data.first_name}}
                {{userData.user_data.last_name}}
                {{userData.user_data.patronymic_name}}
            </div>
            <div class="grid__box"><a class="link" (click)="onLogout()">Выйти</a></div>
        </div>
    </div>
</div>
