<h1>Приемка</h1>

<form (ngSubmit)="onCreateInvoice()" [formGroup]="invoiceForm">
    <div class="mt-32">
        <div class="mb-16">
            <span class="sub-title">Основные данные счет-фактуры</span>
        </div>
        <div class="grid">
            <div class="grid__box grid__box--size-3">
                <ui-field>
                    <label for="comboboxProviders"><span
                        class="field__label--required">Поставщик</span></label>
                    <ui-combobox
                        [items]="providersList"
                        (callback)="onChangeProvider($event)"
                        [textKey]="'name'"
                        [initBy]="providerSelected"
                        [name]="'comboboxProviders'"
                        [defaultText]="''"
                        [isDisabled]="false"
                    ></ui-combobox>
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-3">
                <ui-field>
                    <label for="invoiceNumber"><span
                        class="field__label--required">Номер счет-фактуры</span></label>
                    <input type="text" id="invoiceNumber" formControlName="invoiceNumber">
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-3">
                <ui-field>
                    <label for="invoiceCost"><span
                        class="field__label--required">Общая стоимость по счет-фактуре</span></label>
                    <input type="text" id="invoiceCost" formControlName="invoiceCost">
                </ui-field>
            </div>
        </div>
    </div>

    <div class="mt-32">
        <div class="mb-2">
            <span class="sub-title">Список продуктов счет-фактуры</span>
        </div>
        <div class="mb-16">
            <a class="link link--dashed" (click)="onToggleCreateProductBlock()">
                Создать продукт
            </a>
        </div>
        <div *ngIf="isShowCreateProductBlock" class="mb-16">
            <ui-card>
                <ui-card-content>
                    <app-create-edit-products-widget></app-create-edit-products-widget>
                </ui-card-content>
            </ui-card>
        </div>
        <div class="grid grid--va-middle mb-16">
            <div class="grid__box grid__box--size-3">
                <ui-field>
                    <input type="text" id="productCode"
                           placeholder="Введите код продукта"
                           [(ngModel)]="productCode"
                           [ngModelOptions]="{standalone: true}">
                </ui-field>
            </div>
            <div class="grid__box grid__box--size-min">
                <button class="button" type="button" (click)="onSearchProduct()" [disabled]="!productCode">Найти
                </button>
            </div>
            <div class="grid__box grid__box--size-min ml-24">
                <div *ngFor="let productSearch of productsSearchList" class="ta-left">
                    <a class="link link--dashed link--green" title="Кликните, чтобы добавить продукт"
                       (click)="onAddProductForInvoice(productSearch)">
                        {{productSearch.pt_name}}
                    </a>
                </div>
                <div *ngIf="productsSearchList && !productsSearchList.length" class="color-yellow">
                    Продукт не найден в базе. Проверьте корректность введенного кода или создайте новый продукт.
                </div>
            </div>
        </div>
        <table class="table">
            <colgroup>
                <col width="60%">
                <col width="20%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <thead>
            <tr>
                <th>Название продукта</th>
                <th>Код продукта</th>
                <th>
                    <span class="field__label--required">Стоимость(1шт.)</span>
                </th>
                <th>
                    <span class="field__label--required">Количество</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="invoiceForm.controls.products.controls.length" formArrayName="products">
                <tr *ngFor="let product of invoiceForm.controls.products.controls;let j = index;" [formGroupName]="j">
                    <td>
                        {{product.value.pt_name}}
                    </td>
                    <td>
                        {{product.value.pt_vendor_code}}
                    </td>
                    <td>
                        <ui-field>
                            <input type="text" formControlName="pt_price">
                        </ui-field>
                    </td>
                    <td>
                        <ui-field>
                            <input type="text" formControlName="pt_count">
                        </ui-field>
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="!invoiceForm.controls.products.controls.length">
                <td colspan="4" class="text-placeholder">
                    Список продуктов пуст. Найдите и добавьте товар. Если продукт не найдет, пожалуйста, создайте новый
                    продукт.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-32">
        <button class="button button--orange" type="submit" [disabled]="invoiceForm.invalid">Принять</button>
    </div>
</form>
