<h1>Поставщики</h1>

<div class="mt-8">
    <a class="link link--no-underline link--button" [routerLink]="['/' + PROVIDERS_PATHS.providersCreate]">
        <button type="button" class="button button--orange">Создать поставщика</button>
    </a>
</div>
<div class="mt-32">
    <div class="grid grid--va-middle">
        <div class="grid__box grid__box--size-3">
            <ui-field>
                <input type="text" id="name" [(ngModel)]="providerName" placeholder="Введите название поставщика">
            </ui-field>
        </div>
        <div class="grid__box grid__box--size-min">
            <button class="button" type="button" (click)="onSearchCompany()">Найти</button>
        </div>
        <div class="grid__box grid__box--size-min">
            <a class="link link--dashed" (click)="onResetSearchCompany()">Сбросить</a>
        </div>
    </div>
</div>

<div class="mt-8">
    <ng-container *ngIf="providers && providers.length">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название компании</th>
                <th>Email</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let provider of providers;">
                <td>
                    {{provider.id}}
                </td>
                <td>
                    <a class="link link--yellow link--no-underline" title="Редактировать"
                       [routerLink]="['/' + PROVIDERS_PATHS.providersList, 'edit', provider.id]">
                        <i class="os-pencil"></i>
                    </a>
                    <a class="link" [routerLink]="['/', PROVIDERS_PATHS.providersList, provider.id]"
                       title="Подробная информация">
                        {{provider.name}}
                    </a>
                </td>
                <td>
                    {{provider.email}}
                </td>
                <td>
                    {{provider.created_date | dateFormat:'DD MMMM YYYY г.'}}
                </td>
            </tr>
            </tbody>
        </table>
    </ng-container>
    <div *ngIf="!providers">Нет данных для отображения.</div>
</div>
