@import "../core/colors";

.link {
    color: $clr-gray-primary;
    text-decoration: none;
    border-bottom: 1px solid $clr-gray-primary;
    cursor: pointer;

    &:hover {
        opacity: .6;
    }

    @each $name, $color in $text-colors {
        &--#{$name} {
            color: $color;
            border-color: $color;
        }
    }

    @each $type in (dashed) {
        &--#{$type} {
            border-bottom-style: $type;
        }
    }

    &--no-underline {
        border-color: transparent;
    }

    &--button {
        &:hover {
            opacity: 1;
        }
    }
}
