@import "../core/colors";
@import "../core/mixins";

.nav-tabs {
  @include border-radius(4px);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $clr-gray-secondary;
  padding: 0;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  padding: 8px 16px;
  color: $clr-gray-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  margin-left: -1px;
  opacity: .7;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &.active {
    @include border-radius(4px);

    color: $clr-black;
    // border-color: $clr-yellow-primary;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  }

  &.disabled {
    cursor: default;
    color: $clr-gray-secondary;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }
}

