<h1>Продукты</h1>

<div class="mt-32">
    <div class="grid">
        <div class="grid__box grid__box--size-min">
            <a class="link" [routerLink]="['/' + productsPath.PRODUCT_CREATE]">Создание продукта</a>
        </div>
        <div class="grid__box grid__box--size-min">
            <a class="link" routerLink="{{'/' + productsPath.PRODUCT_CHARACTERISTIC_CREATE}}">
                Создание группы характеристик</a>
        </div>
        <div class="grid__box grid__box--size-min">
            <a class="link" routerLink="{{'/' + productsPath.PRODUCT_CHARACTERISTIC_MANAGE}}">
                Привязка групп характеристик к категориям</a>
        </div>
    </div>
</div>
