<div class="grid">
    <div class="grid__box grid__box--size-3 grid__box--offset-5">
        <form [formGroup]="loginForm" (ngSubmit)="onAuthSubmit()">
            <div class="mb-8">
                <ui-field>
                    <label for="login"><span class="field__label--required">Логин</span></label>
                    <input formControlName="login" type="email" class="form-control" id="login"
                           placeholder="Введите логин">
                </ui-field>
            </div>
            <div class="mb-16">
                <ui-field>
                    <label for="password"><span class="field__label--required">Пароль</span></label>
                    <input formControlName="password" type="password" class="form-control" id="password"
                           placeholder="Введите пароль">
                </ui-field>
            </div>
            <div>
                <button type="submit" class="button button--orange" [disabled]="loginForm.invalid">Войти</button>
            </div>
        </form>
    </div>
</div>
