@import "./variabless";
@import "./mixins";
@import "./colors";

*,
*:before,
*:after {
    box-sizing: border-box;
}

// fix jumping vertical scrollbar
@media screen and (min-width: 1250px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

html, body {
    height: 100%;
}

body {
    @include font(normal, 13px, 20px, $font-primary);

    color: $clr-black;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
