@import "./colors";

// fonts
$font-primary: 'Roboto Regular', 'Arial', sans-serif;
$font-secondary: 'Roboto Medium', 'Arial', serif;

// grid
$columns: 12;
$grid-gap-base: 16px;
$grid-gap-nums: (2, 4, 8, 16, 32);
$grid-va: (flex-start, flex-end, center);

// margins, paddings
$nums: (0, 2, 4, 8, 16, 32, 64);

//borders
$border-clr: $clr-gray-secondary;
$border-radius-default: 4px;

// z-index
$zindex-dropdown: 1000 !default;
$zindex-modal: 1051 !default;
