<h1 class="title">Привязка групп характеристик к категориям</h1>

<div class="mt-32">
    <div class="grid">
        <div class="grid__box grid__box--size-3">
            <ui-field>
                <ui-combobox
                    [items]="categoriesProducts"
                    (callback)="onChangeCategoryProductsItem($event)"
                    [textKey]="'name'"
                    [initBy]="categoryProducts"
                    [name]="'characteristicName'"
                    [defaultText]="'Выберите группу характеристик'"
                    [isDisabled]="false"
                ></ui-combobox>
            </ui-field>
        </div>
        <div class="grid__box grid__box--size-3">
            <ui-field>
                <input type="text" id="characteristicName" placeholder="Введите название характеристики для поиска"
                       [(ngModel)]="characteristicSearch" [disabled]="!categoryProducts">
            </ui-field>
        </div>
    </div>
    <div class="mt-16" *ngIf="categoryProducts">
        <div class="grid" *ngFor="let group of characteristicsGroups | searchText : characteristicSearch:'name'">
            <div class="grid__box grid__box--size-min">
                <ui-checkbox>
                    <input type="checkbox" value="{{group.id}}" [checked]="group.isChecked">
                    <checkbox-text>
                        <span [innerHTML]="group['name'] | highlightText : characteristicSearch"></span>
                    </checkbox-text>
                </ui-checkbox>
            </div>
            <div class="grid__box grid__box--size-min">
                <i class="os-pencil"></i>
            </div>
        </div>
        <div class="mt-16" *ngIf="!(characteristicsGroups | searchText : characteristicSearch:'name').length">
            Ничего не найдено.
        </div>
    </div>
    <div class="mt-32" *ngIf="categoryProducts">
        <button class="button" type="submit">Сохранить</button>
    </div>
</div>
